---
import OpenMenu from "../assets/svg/OpenMenu.svg";
import CloseMenu from "../assets/svg/CloseMenu.svg";
import LogoCompleto from "../assets/images/Logo_completo.png";
import CartIcon from "../assets/svg/Cart.svg";
import SearchIcon from "../assets/svg/Search.svg";
---

<script>
  const btnOpen = document.getElementById("btn-open");
  const btnClose = document.getElementById("btn-close");
  const btnSearch = document.getElementById("btn-search");
  const searchDropdown = document.getElementById("search-dropdown");

  // Función para alternar el menú de categorías
  btnOpen?.addEventListener("click", () => {
    const nav = document.getElementById("nav");
    nav?.classList.toggle("hidden");
  });

  btnClose?.addEventListener("click", () => {
    const nav = document.getElementById("nav");
    nav?.classList.toggle("hidden");
  });

  // Función para alternar el buscador
  btnSearch?.addEventListener("click", () => {
    searchDropdown?.classList.toggle("hidden");
  });
</script>

<header
  class="h-auto bg-white flex flex-col items-center px-4 shadow-md relative"
>
  <nav class="flex items-center justify-between w-full">
    <button>
      <img src={OpenMenu.src} alt="Logo" class="h-12 w-auto cursor-pointer" />
    </button>

    <a href="/">
      <img src={LogoCompleto.src} alt="Logo de la empresa" class="h-18" />
    </a>

    <a href="/cart">
      <img
        src={CartIcon.src}
        alt="Icono de carrito"
        class="h-10 w-auto cursor-pointer"
      />
    </a>
  </nav>

  <!-- Barra de busqueda -->
</header>
