<footer class="bg-neutral-800">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Sobre nosotros
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/about" class="hover:underline">Nuestra historia</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contactanos</a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Politica de privacidad</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terminos y Condiciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >&copy; 2025 <a href="#" class="hover:underline">Boutique Duck™</a>.
        All Rights Reserved.
      </span>
      <div class="flex mt-4 items-center sm:justify-center sm:mt-0">
        <a
          href="https://www.facebook.com/people/Butique-Dusk/pfbid02nPqC78P2c3Sk9RwEoRSi2vJCWWDGu4zxCkBZsFCAmcKqxYz8ab4t2x3XjqRDjQnol/?mibextid=LQQJ4d&rdid=BRYh5V3rdX2ISsok&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1KQGJkFm52%2F%3Fmibextid%3DLQQJ4d"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 8 19"
          >
            <path
              fill-rule="evenodd"
              d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>
        <a
          href="https://www.instagram.com/boutique_dusck/"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Instagram</span>
        </a>
        <a
          href="https://x.com/boutique_d15440?s=11"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"
            ></path>
          </svg>
          <span class="sr-only">X</span>
        </a>
        <a
          href="https://www.tiktok.com/@boutique.dusk"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M20.357 7.75a.537.537 0 0 0-.495-.516a4.7 4.7 0 0 1-2.415-.938a4.85 4.85 0 0 1-1.887-3.3a.54.54 0 0 0-.517-.496h-2.108a.517.517 0 0 0-.517.527v12.59a2.794 2.794 0 0 1-2.974 2.762a2.815 2.815 0 0 1-2.51-3.711A2.836 2.836 0 0 1 9.93 12.78a.506.506 0 0 0 .558-.506V9.807s-.896-.063-1.202-.063a5.27 5.27 0 0 0-4.101 1.93a5.8 5.8 0 0 0-1.37 2.52a5.86 5.86 0 0 0 2.14 6.072A5.93 5.93 0 0 0 9.591 21.5q.451 0 .896-.063A5.95 5.95 0 0 0 13.8 19.78a5.84 5.84 0 0 0 1.75-4.133V8.71a7.84 7.84 0 0 0 4.218 1.613a.517.517 0 0 0 .548-.527V7.751z"
            ></path></svg
          >
          <span class="sr-only">TikTok</span>
        </a>
      </div>
    </div>
  </div>
</footer>
